# Python

Python is general purpose high level programming language which supports both OOP and POP

In [8]:
a=10
print(a)

10

In [9]:
a

10

In [10]:
A=4

In [4]:
A

4

In [5]:
a

10

Variables-------------a storage container which holds some data----> a memory location
which will be assigned with some value or information
"="----assignment operator to assign values to the variables
Literal-----the value or information that will be assigned to the variable

syntax:
    variable_name=value/information

In [17]:
g=20.7
print(g)

20.7

In [18]:
type(g)

float

In [19]:
s=3
s

3

In [20]:
type(s)

int

java example:

class sample{
    public static void main(String args[])
    {
        System.out.println("hello java");
    }
}

In [31]:
#python example:
    
p="hello python"
print(p)

hello python

In [26]:
p

'hello python'

Rules---------1. keywords and inbuilt functions names cannot be used as variable names.
def,print,while,for,print(),len()
2. variable name can start with a letter or underscore(_)but never with a number
3. no special symbols or characters except ubderscore will be allowed

In [33]:
9d=89

SyntaxError: invalid decimal literal (3576634803.py, line 1)

In [34]:
&h=90

SyntaxError: invalid syntax (690505271.py, line 1)

In [35]:
_h=90

In [36]:
_h

90

Assigning values to the variables:
    
static way----information or value is assigned manually while typing the program

dynamic way(user defined)----information or value is assigned during the run time of a program
input()---an inbuilt function that fetches input from the user
syntax:varname=input()

In [37]:
w2=45

In [38]:
w2

45

In [44]:
print(w2)

45

In [43]:
v1=input("enter a number")  #to fetch data from user at run time

enter a number3

In [46]:
w='poorva'

In [63]:
k='123hadoop'
print(k)

123hadoop

In [49]:
type(k)

str

In [60]:
p=23
p

23

In [54]:
type(p)

str

datatypes:
    Basic/universal datatype----------int,float,string/char,bool
    collective datatype--------strings,tuples,dictionary,set

collective datatypes--------collection of values or information
two types:
    Mutable------->information or value in a collection can be altered or changed after declaration
    -----List,Dictionary,Set
    
    Immutable----->information or value in a collection cannot be altered or changed after declaration
    ------Strings , Tuples

# Immutable Datatypes:

Strings----------collection of characters
syntax:varname='value' or "value"

In [64]:
s1="hello"
s2="guys"
print(s1,s2)

hello guys

In [65]:
type(s1)

str

In [66]:
type(s2)

str

In [68]:
len(s1)  #len()-----the number of elements present in a collective datatypes

5

Indexing and slicing:
index----positional value of an element inside acollection
syntax:varname[index_value]
types:
    forward----starts from 0 (left to right)
    reverse----starts from -1(right to left)
    
slicing----the process of extracting or accessing multiple elements in a sequence from a collection
syntax:varname[start_index:end_index+1]

In [69]:
n='INTELLIPAAT'

In [70]:
n

'INTELLIPAAT'

In [71]:
len(n)

11

0   1    2  3  4  5  6  7  8  9  10    Forward indexing
I    N   T  E  L  L  I  P  A  A  T
-11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1     reverse indexing

In [72]:
n[3]

'E'

In [73]:
n[-4]

'P'

In [83]:
n[4:9]

'LLIPA'

In [79]:
n.index('N')

1

In [86]:
n[-11:-7]

'INTE'

In [85]:
n[:]

'INTELLIPAAT'

In [87]:
n[3]

'E'

In [88]:
n[3]='A'

TypeError: 'str' object does not support item assignment

# Tuples

set of heterogenous elements (different data types)
syntax: varname=(elements)
    
varname=elements

In [89]:
t1=(1,2,3,'python',23.4,True,'divertsity')
#   0 1 2  3        4    5     6
t1

(1, 2, 3, 'python', 23.4, True, 'divertsity')

In [90]:
type(t1)

tuple

In [91]:
len(t1)

7

In [92]:
t1[3]

'python'

In [93]:
t1[1:6]

(2, 3, 'python', 23.4, True)

In [94]:
t1[4]='java'

TypeError: 'tuple' object does not support item assignment